@{
    ViewData["Title"] = "Result";
}

@{
  var pokemon = (Pokemon)ViewData["pokemon"];
}

<div class="text-center">
  <h1 class="display-3">HERE</h1>
  <h1 class="display-4"><img src = @pokemon.getImage></h1>
  <h1 class="display-4">@pokemon.getName</h1>
  <h1 class="display-4">@pokemon.getNumber</h1>
  <h1 class="display-4">@pokemon.getDescription</h1>
  <h1 class="display-4">@pokemon.getStatus</h1>
  <h1 class="display-4">@pokemon.getType_1</h1>
  <h1 class="display-4">@pokemon.getType_2</h1>
  <h1 class="display-4">@pokemon.getPre_Evolution</h1>
  <h1 class="display-4">@pokemon.getEvolution</h1>
  <h1 class="display-4">@pokemon.getHeight</h1>
  <h1 class="display-4">@pokemon.getWeight</h1>
  <h1 class="display-4">@pokemon.getMove_1</h1>
  <h1 class="display-4">@pokemon.getMove_2</h1>
  <h1 class="display-4">@pokemon.getMove_3</h1>
  <h1 class="display-4">@pokemon.getMove_4</h1>
</div>
