@{
    ViewData["Title"] = "Result";
}

@{
  var pokemon = (Pokemon)ViewData["pokemon"];
}
<center>
  <div class="text-center">

    <h1 class="display-4">(@pokemon.Number) @pokemon.Name</h1>
    <div class="display-4"><img src = @pokemon.Image></div>
    <div>
      <strong>Description:</strong><div>@pokemon.Description</div>
    </div>
    <p></p>
    <div>
      <strong>Rarity:</strong><div>@pokemon.RarityOf</div>
    </div>
    <p></p>
    <div>
      <strong>Type(s):</strong><div>@pokemon.Type1  @pokemon.Type2 </div>
    </div>
    <p></p>
    <div>
      <strong>Evolution chain:</strong>
      <div>
        From: 
        <a href=@("https://localhost:5001/Home/PokemonDisplay?name=" + @pokemon.PreEvolution??@pokemon.Name)>@(@pokemon.PreEvolution??"None")</a>  
        To: 
        <a href=@("https://localhost:5001/Home/PokemonDisplay?name=" + @pokemon.Evolution??@pokemon.Name)>@(@pokemon.Evolution??"None")</a>
    </div>
    <p></p>
    <div>
      <strong>Measurements:</strong><div>Height: @pokemon.Height  Weight: @pokemon.Weight</div>
    </div>
    <p></p>
    <div>
      <strong>Moves:</strong><div>@pokemon.Move1  @pokemon.Move2  @pokemon.Move3  @pokemon.Move4</div>
    </div>
  </div>
</center>
